// Navigation code here
.nav-content {
    max-width: 100%;
    .just-flex(column);
    background: @wild-sand;
    color: @river-bend;
    h1 {
        .mixin-mp(10px);
        font-size: 40px;
    }
    nav {
        .mixin-mp(10px);
        a {
            padding: 20px;
            text-decoration: none;
            color: @river-bend;
            font-size: 1.4rem;
            font-family: @nav-font;
        }
    }
}